body {
    background: #f6f6f6;
}
.common-left {
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border-bottom: 1px solid #eee;
}
.common-right {
    background-color: #fff;
    margin-left: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    border-bottom: 1px solid #eee;
}
.common-main {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}
