.list-header {
    padding: 0 0.5rem;
}
.list-title {
    font-size: 1.3rem;
    color: #1e90ff;
    padding: 0 0.5rem;
}
.list-context {
    color: #777;
    padding: 0.5rem;
}
.list-icons {
    padding: 0.5rem 0;
    color: #aaa;
}
.list-icons .list-icon {
    display: inline-block;
    padding: 0 0.5rem;
}
.list-icons .list-icon span {
    padding-right: 0.3rem;
}
